<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/templates/template.xhtml">

          

            <ui:define name="content">
                <h2><p:outputLabel value="Autenticação"/></h2><br/>
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="Token:" />
                        <h:inputText style="width: 200%" value="#{cliente.usuario.token}"></h:inputText>
                        <p:commandButton value="Autenticar" style="left: 200%" action="#{cliente.login}"/>
                    </h:panelGrid>
                </h:form>

            </ui:define>

            

        </ui:composition>

    </body>
</html>
